---
BasedOnStyle: Mozilla
AccessModifierOffset: -4
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: true
BinPackParameters: BinPack
BraceWrapping:
  AfterClass: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  SplitEmptyRecord: true
BreakAfterReturnType: AllDefinitions
# BreakArrays: false
BreakBeforeBraces: Custom
BreakTemplateDeclarations: false
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentCaseLabels: false
IndentGotoLabels: false
IndentWidth: 8
InsertBraces: true
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
ObjCBlockIndentWidth: 8
PointerAlignment: Right
SeparateDefinitionBlocks: Always
# UseTab: Always
...
